/**STYLE: Template versão 4.0 **/

* { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }

@maincolor: #58b526;
@seccolor: #74797a;

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-text-size-adjust: none;
	background: url('../img/loading.gif') no-repeat center;
}

main {
	opacity: 0;
	position: relative;
	width: 100%;
	height: 100%;
	background: #e7e7e7;
	max-width: 1280px;
	max-height: 720px;
	overflow: hidden;
	margin: auto;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 0 1.5em #404040;
	border-radius: 0.2em;

	img { width: 100%; display: block; }
	h1, h2, h3 { font-size: 1.5em; margin-bottom: 0.5em; color: white; text-shadow: 1px 1px 1px @maincolor; text-transform: uppercase; }
	p { margin-bottom: 0.5em; }
	ul, ol { margin-left: 2em; text-align: left; }

	table {
		margin: 0 0 2em 0;
		width: 100%;
		border-collapse: collapse;

		th {
			font-size: 80%;
			text-align: center;
			padding: 0.5em;
			vertical-align: bottom;
		}

		td {
			border-top: 1px solid #999;
			border-bottom: 1px solid #999;
			padding: 0.3em 0.7em;
			text-align: center;
			vertical-align: middle;
			width: 5%;
		}
	}

	button {
		padding: 0.3em 2em;
		margin-top: 0.7em;
		border-radius: 1em;
		cursor: pointer;
		text-transform: uppercase;
		font-family: inherit;
		font-weight: bold;
		box-sizing: border-box;
		color: @maincolor;
		background: white;
	}

	button:hover { box-shadow: 0 0.1em 0.1em #404040; }
	button:active { transform: translateY(0.1em); }

	.tip {
		border-bottom: 0.08em dotted @maincolor;
		cursor: pointer;
		position: relative;

		.tooltip {
			min-width: 100%;
			top: -120%;
			left: 0;
			color: white;
			background: @maincolor;
			padding: 0.2em 0.4em;
			border-radius: 0.2em;
			font-size: 80%;
			box-shadow: 0 0.1em 0.5em #404040;
			text-align: center;
			position: absolute;
			visibility: hidden;
		}

		.tooltip:after {
			position: absolute;
			content: '';
			top: 100%;
			left: 50%;
			margin-left: -0.5em;
			border-width: 0.5em;
			border-style: solid;
			border-color: @maincolor transparent transparent transparent;
		}
	}
	.tip:hover .tooltip, .tip:active .tooltip { visibility: visible; }

	.help {
		position: absolute;
		padding: 0.05em 0.5em;
		margin-top: 0;
		top: 2%;
		left: 1.4%;
		border-radius: 50%;
		font-size: 2em;
		z-index: 4;
		cursor: pointer;
	}

	.audio {
		position: absolute;
		padding: 0.3em 0.45em;
		z-index: 7;
		font-size: 2em;
		width: 5.6%;
		left: 1.4%;
		top: 9%;
	}

	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: rgba(0,0,0,0.6);
		z-index: 6;

		.intro {
			position: absolute;
			width: 47.8%;
			left: 26.1%;
			min-height: 40%;
			text-align: center;
		}

		.modal {
			position: absolute;
			background: @seccolor;
			color: white;
			width: 56%;
			padding: 2%;
			left: 20%;
			min-height: 30%;
			box-shadow: 0 0 1em black;
			border-radius: 0.5em;
			text-align: center;
			display: none;
		}
	}

	.content {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		display: none;

		.char {
			position: absolute;
			bottom: 27%;
			left: 10%;
			width: 9.9%;
			z-index: 4;
		}

		.clickarea {
			position: relative;
			width: 100%;
			height: 100%;

			div {
				position: absolute;
				width: 2em;
				height: 2em;
				background: @maincolor;
				border-radius: 50%;
				cursor: pointer;
				border: 0.2em solid white;
				box-shadow: 0 0 0.5em black;
			}
		}

		.quiz {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;

			section {
				position: absolute;
				width: 100%;
				height: 100%;
				display: none;

				.feed {
					position: absolute;
					width: 0.8em;
					height: 0.8em;
					top: 37.3%;
					left: 31.9%;
					z-index: 4;
					display: none;
				}

				.andar {
					position: absolute;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					font-size: 80%;
					width: 10%;
					left: 55%;
					top: 30%;
					color: #74797A;
				}

				.enun {
					position: absolute;
					padding: 1% 2%;
					bottom: 0;
					font-size: 100%;
					color: white;
					min-height: 24%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
				}

				.alts {
					position: absolute;
					width: 78%;
					height: 35.3%;
					top: 35%;
					right: 0;
				}

				ul {
					margin: 0 2em;
					text-align: center;
					list-style: none;
					height: 100%;

					li {
						position: relative;
						width: 15.6%;
						height: 100%;
						float: left;
						margin: 0.5em 0.9em;
						cursor: pointer;
						color: #ffffc5;
						font-size: 80%;

						p {
							position: absolute;
							text-align: center;
							width: 100%;
							margin-top: 50%;
						}
					}
				}
			}
			section:nth-child(1) { display: block; }
		}

		.slideshow {
			.ctrl {
				.next {
					font-size: 1.5em;
					padding: 0.3em 0.7em;
					position: absolute;
					right: 2%;
					top: 40%;
				}

				.prev {
					font-size: 1.5em;
					padding: 0.3em 0.7em;
					position: absolute;
					left: 2%;
					top: 40%;
					opacity: 0.6;
					pointer-events: none;
				}
			}

			.slides {
				section {
					position: relative;
					width: 100%;
					display: none;

					div {
						position: absolute;
						margin: 1em;
						padding: 1em;
						background: @maincolor;
						color: white;
						border-radius: 0.5em;
						text-align: center;
						bottom: 0;
					}
				}
				section:nth-child(1) { display: block; }
			}
		}

		.t-or-f {
			section {
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
				display: none;

				.txt {
					padding: 4em;
				}
			}
			section:nth-child(1) { display: block; }
		}

		.drag-drop {
			.draggie {
				position: absolute;
				width: 30%;
				padding: 2%;
				top: 10%;
				left: 10%;
				border-radius: 0.5em;
				z-index: 4;

				div {
					text-align: center;
					padding: 0.5em;
					background: white;
					border: 0.1em solid @maincolor;
					border-radius: 0.5em;
					cursor: pointer;
					margin: 0.5em 0;
					-webkit-user-select: none;
					-moz-user-select: none;
					user-select: none;
					box-shadow: 0 0 0.5em rgba(0,0,0,0.6);
				}
			}

			.droppie {
				position: absolute;
				width: 30%;
				padding: 2%;
				top: 10%;
				right: 10%;
				z-index: 3;

				div {
					text-align: center;
					padding: 0.5em;
					background: #ccc;
					color: #ccc;
					border: 0.1em solid @maincolor;
					border-radius: 0.5em;
					margin: 0.5em 0;
					-webkit-user-select: none;
					-moz-user-select: none;
					user-select: none;
					box-shadow: inset 0 0 0.5em rgba(0,0,0,0.6);
				}
			}
		}
	}

	.blink { animation: blink 0.5s linear infinite; }
	@keyframes blink { 50% { opacity: 0; } }
}

@media screen and (max-width: 1280px) {
	main {
		font-size: 1.8vw;
		width: 100vw;
		height: 56vw;
	}
}

@media screen and (max-height: 720px) {
	main {
		font-size: 3.3vh;
		width: 177vh;
		height: 100vh;
	}
}
